

.evaluate .content{
  display: flex;
  justify-content: center;
}

.evaluate .header{
  text-align: center;
}

.evaluate .info{
  display: flex;
  justify-content: center;
}

.evaluate .infomation{
  width: 50%;
  text-align: left;
}

.evaluate .upload{

  justify-content: center;
}
.evaluate .table2 table, th, td {
  border: 1px solid black;
  border-collapse: collapse;

}

.evaluate .content1{
  text-align: left;
}

.evaluate .none{
  background-color: rgb(110, 106, 106);
}

.evaluate .check{
  text-align: center;
}

.evaluate .result{
  text-align: center;
}

.evaluate .add{
  color: width
}